:root {
	--brand: oklch(0.5691 0.2451 282.62);
	--accent: oklch(0.7649 0.1399 72.95);
	--success: oklch(0.7623 0.1159 128.25);
	--error: oklch(0.6722 0.1189 29.58);
	--info: oklch(0.7545 0.0655 217.77);
	--warning: oklch(0.7649 0.1399 72.95);
	--background: oklch(0.156 0.0054 67.38);
	--surface: oklch(0.193 0.0108 80.52);
	--raised: oklch(0.2215 0.0137 72.09);
	--sunken: oklch(0.1401 0.0052 86.6);
	--line: oklch(0.2688 0.0154 71.39);
	--line2: oklch(0.3284 0.0175 78.01);
	--foreground: oklch(0.9533 0.0143 84.58);
	--muted: oklch(0.8175 0.0217 79.07);
	--subtle: oklch(0.6378 0.0206 75.22);
	--dim: oklch(0.464 0.0182 76.92);
}
