.flex {
	display: flex;

	&.row {
		flex-direction: row;
	}

	&.column {
		flex-direction: column;
	}

	&.wrap {
		flex-wrap: wrap;
	}

	&.nowrap {
		flex-wrap: nowrap;
	}

	&.wrap-reverse {
		flex-wrap: wrap-reverse;
	}

	&.align-start {
		align-items: flex-start;
	}

	&.align-end {
		align-items: flex-end;
	}

	&.align-center {
		align-items: center;
	}

	&.align-stretch {
		align-items: stretch;
	}

	&.align-baseline {
		align-items: baseline;
	}

	&.justify-start {
		justify-content: flex-start;
	}

	&.justify-end {
		justify-content: flex-end;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-space-between {
		justify-content: space-between;
	}

	&.justify-space-around {
		justify-content: space-around;
	}

	&.justify-space-evenly {
		justify-content: space-evenly;
	}
}
