@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap");

.recursive {
	font-family: "Recursive", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"slnt" 0,
		"CASL" 0,
		"CRSV" 0,
		"MONO" 0;

	&.thin {
		font-weight: 300;
	}

	&.extra-light {
		font-weight: 200;
	}

	&.light {
		font-weight: 300;
	}

	&.regular {
		font-weight: 400;
	}

	&.medium {
		font-weight: 500;
	}

	&.semibold {
		font-weight: 600;
	}

	&.bold {
		font-weight: 700;
	}

	&.black {
		font-weight: 800;
	}

    &.italic {
        font-style: italic;
    }

    &.mono {
        font-variation-settings: "MONO" 1;
    }

    &.casual {
        font-variation-settings: "CASL" 1;
    }

    &.cursive {
        font-variation-settings: "CRSV" 1;
    }

    &.slant {
        font-variation-settings: "slnt" 1;
    }
}
